@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");
body {
  background-color: #cdcdcd;
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
}
.menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.menu ul {
  list-style: none;
  display: flex;

  padding: 0px 1px;
  margin: 0px 20px;
}
#shuffle {
  font-size: 10pt;
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}

.menu li {
  margin: 10px;
  font-size: 16px;
  padding: 0 15px;
}
.menu-container {
  position: fixed;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #232323;
  color: #cdcdcd;
  padding: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: center;
}
.menu-logo {
  line-height: 0;
  margin: 0 10px;
  display: block;
  font-family: "McLaren";
  font-size: 20pt;
  text-decoration: none;
}

.menu-container li {
  text-decoration: none;
  color: #cdcdcd;
  transition: color 0.3s ease;
}

.menu-container li:hover {
  color: #00c6a7;
}

#inputkey {
  padding: 5px;
  font-size: 16px;
  width: 100px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 10%;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  text-align: center;
}
#inputkey:focus {
  outline: none;
  background-color: aliceblue;
  font-family: "McLaren", "Courier New", Courier, monospace;
  text-align: center;
}
input[type="range"] {
  height: 9px;
  -webkit-appearance: none;
  margin: 10px 0;

  background-color: #232323;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  cursor: pointer;

  box-shadow: 1px 1px 1px #50555c;
  background: #50555c;
  -moz-background: #50555c;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 22px;
  width: 15px;
  border-radius: 25%;
  background: #529de1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #50555c;
}
input[type="range"]:focus::-webkit-slider-thumb {
  background-color: #00c6a7;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #50555c;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #50555c;
}
/*body*/
main {
}
.container {
  display: grid;
  position: relative;
  top: 100px;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Array Array Array Key"
    "Array Array Array Result"
    "Array Array Array Result"
    "Array Array Array Result";
}

.Array {
  grid-area: Array;
  grid-auto-rows: minmax(min-content, max-content);
}

.Key {
  grid-area: Key;
  grid-auto-rows: minmax(min-content, max-content);
  align-content: center;
}

.Result {
  grid-area: Result;
  grid-auto-rows: minmax(min-content, max-content);
}

.Array {
  margin-left: 10px;
  padding: auto;
  display: flex;
  background-color: #eeeeee;
  width: auto;
  height: auto;
  font-family: Helvetica;
  border: 2px solid #393e46;
  justify-content: space-evenly;
}

.bar {
  background-color: lightcoral;
  width: auto;
  height: 20px;
  font-family: "McLaren", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  font-size: 10pt;
  align-items: center;
}
.alength {
  background-color: cornflowerblue;
  width: auto;
  height: 20px;
  font-family: "McLaren", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  font-size: 10pt;
  align-items: center;
}

.Result {
  background-color: #393e46;
  margin: 20px;
  display: flex;
  font-family: Helvetica;
  flex-direction: column;
  color: #00adb5;
  padding: 10px;
  border: 1px solid #232323;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.Code {
  margin-top: 110px;
  top: auto;
  float: bottom;
  height: auto;
  background: #22577a;
  align-self: flex-end;
  justify-self: flex-end;
}

.Key {
  background-color: #22577a;
  display: inline-flex;
  padding: 20px;
  height: 70px;
  width: 120px;
  position: relative;
  margin: AUTO;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  justify-self: center;
}
.Key > #key-v {
  display: inline;
}
.Info {
  margin: 10px;

  font-family: "McLaren", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 24pt;
  color: white;
}
.inf {
  display: inline-flex;
  height: 20px;
  width: 20px;
  padding: 2px;
  margin: 10px;
}
#info0 {
  background-color: red;
}
#info1 {
  background-color: blue;
}
#info2 {
  background-color: green;
}
.text {
  display: inline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-small;
}
#innerRes {
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all;
  font-family: "McLaren", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: orange;
  font-weight: bold;

  
}
#innerRes{
  animation: blinker 10s linear infinite;
  -webkit-animation: blinker 10s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/*
footer
*/

footer {
  background: #232323;
  font-family: "McLaren", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  position: relative;
  font-size: small;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
  margin:0px auto;
  
}

footer p {
  display: inline;
  text-align: center;
  color: #ccc;
  font-family: "McLaren", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}
#footer{
  position: relative;
   left:50%;
   top:1px;
   justify-content: center;
}
footer span a {
  text-decoration: none;
}
